<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            <ul class="bg-slate-700">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <h1>Contact Page, </h1>
        <p>Explore our website, by navigating via our link and path using the nav name</p>

    </body>
</html>